.calculator {
  width: 230px;
  height: 350px;
  overflow: hidden;

  border-radius: 8px;
  background-color: var(--bg-primary);
  box-shadow: 0px 0px 3px #20ffffbb;

  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 1fr 48px 48px 48px 48px 48px;
  padding: 5px;
}